{% extends 'base.html' %}
{% block title %}Accessibility Report{% endblock %}
{% block content %}
<div class="page col-sm-10 col-sm-offset-1">
  <h1>Accessibility Audit Index</h1>
</div>
<div class="col-sm-10 col-sm-offset-1">
  <h2>Summary</h2>
</div>
<div class="col-sm-3 col-sm-offset-1">
  <ul class="list-group">
      <li class="list-group-item">
          <a href="#pages-checked">Pages</a>
          <span class="badge">{{ pages|length }}</span>
      </li>
      <li class="list-group-item">
          <a href="errors.html">Errors</a>
          <span class="list-group-item-danger badge">{{ num_error }}</span>
      </li>
      <li class="list-group-item">
          <a href="warnings.html">Warnings</a>
          <span class="list-group-item-warning badge">{{ num_warning }}</span>
      </li>
      <li class="list-group-item">
          <a href="notices.html">Notices</a>
          <span class="list-group-item-info badge">{{ num_notice }}</span>
      </li>
  </ul>
</div>
<canvas id="myChart" width="400" height="200"></canvas>
<br />
<div class="col-sm-10 col-sm-offset-1" style="margin-bottom: 30px;">
  <table data-classes='table table-no-bordered'
         data-toggle="table"
         data-search="true">
    <thead>
      <tr>
        <th data-field='Page' data-sortable="true">Page</th>
        <th data-field='View JSON' data-sortable="true">JSON Report</th>
        <th data-field='View Live' data-sortable="true">View Live</th>
        <th class='danger' data-field='Errors' data-sortable="true" data-width="10%" data-align="right">Errors</th>
        <th class='warning' data-field='Warnings' data-sortable="true" data-width="10%" data-align="right">Warnings</th>
        <th class='info' data-field='Notices' data-sortable="true" data-width="10%" data-align="right">Notices</th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
        <tr>
          <td><a href="{{ page.html_report }}" target="_blank">
            {{ page.url }}
          </a></td>
          <td><a href="{{ page.json_report }}" target="_blank">
            JSON Report
          </a></td>
          <td><a href="{{ page.url }}" target="_blank">
            View Live
          </a></td>
          <td>{{ page.results.error }}</td>
          <td>{{ page.results.warning }}</td>
          <td>{{ page.results.notice }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block scriptvars %}
  var guides = {{ guidelines }}
{% endblock scriptvars %}